
__pycache__/
*.py[cod]
*.swp
*.log
*.tmp
*.bak
*.DS_Store
*.idea/
*.vscode/
.env
.env.local

Backend/venv/
venv/

*.sqlite3
*.db

staticfiles/
media/
Backend/static/
Backend/media/

*.mo
*.pot
*.pyc
*.pyo
__pycache__/

htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log


frontend/node_modules/
frontend/build/
frontend/.env
frontend/.next/
frontend/dist/
frontend/package-lock.json

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


*.secret
*.key
*.pem

.vscode/
.idea/
*.code-workspace

